<div class="container">
	<div class="middle_cover">
		<div class="middle_cover_header second_font_method_alternate">
			<%=image_tag("notification.png")%><br/>
			<%=link_to "Notifications", notification_path%>
		</div>
	 	<%unless @notifications_unread.blank?%>		
			<%for notification in @notifications_unread%>
				<%@winner_user_image = nil%>
				<div class="notification_unit small_bark_font_method">
					<%if notification.notification_type == "Point" %>
						<table>
							<tr>
								<td></td>
								<td></td>
								<td>
									You got <%=pluralize(notification.point_count,'Point')%>
									<span class="unread-container">unread</span>
								</td>
							</tr>
						</table>
					<%else%>
						<%if notification.notification_type == "Friendship"%>
							<table>
								<tr><td></td><td></td>
									<td>
										<span class="second_font_method_alternate"><%=link_to User.find(notification.secondary_user).user_name, portfolio_path(:id=>notification.secondary_user)%></span> is now your fan 
										<span class="unread-container">unread</span>
									</td>
								</tr>
							</table>
						<%else%>
							<%if notification.notification_type == "Rank" %>
								<table>
									<tr><td></td><td></td>
										<td>
											Congratulation!!!! your rank has been upgraded to "<%=Rankdetail.find(notification.notification_type_id).name%>"
											<span class="unread-container">unread</span>
										</td>
									</tr>
								</table> 
							<%else%>
								<% if notification.notification_type == "Winner" %>
									<table>
										<tr><td></td><td></td>
											<td>
												Congratulation!!!! You just won the "<%=(notification.user.winners.last).try(:task).try(:title)%>" task and you have earned a new <span class="primary_link_font--large-bold"><%=link_to "badge",badge_path(:id=>notification.user_id)%></span>&nbsp<span class="unread-container">unread</span>
											</td>
										</tr>
									</table> 
						  	<%else%>	
					   			<% if notification.notification_type == "Message" %>						  		
										<div class="notification_container">		   
									   	<div class="notification_image">
												<%sender = User.find(notification.secondary_user)%>
												<%unless sender.userimage.blank?%>
													<%@winner_user_image = sender.userimage%>
												<%end%>
					   						<div class=""><%if @winner_user_image.blank?%><%=image_tag("Default_smallest.png")%><%else%><%=image_tag(@winner_user_image.image.url(:smallest))%><%end%>
					   						</div>
										  </div>
											<div class="notification_body_message">
										   	<%if sender.usertype == "admin"%>
										   		<span class="font_method_alternative">
										   			<%=sender.user_name%>
										   		</span>
										   	<%else%>
										   		<span class="primary_link_font--large-bold">
										   			<%= link_to sender.user_name, portfolio_path(:id=>sender.id)%>
										   		</span>
										   	<%end%>
										   	<p>
										   		<%=Message.find(notification.notification_type_id).content%> 
										   		<span class="unread-container">unread</span>
										   	</p>
											</div>
										</div>
									<%end%>
					      <%end%>					  
						  <%end%>
						<%end%>
					<%end%>
				</div>
		  <%end%>
		<%end%>
	   	<% for notification in @notifications%>
	   		<%@winner_user_image = nil%>
				<div class="notification_unit small_bark_font_method">
					<%if notification.notification_type == "Point"%>
						<table>
							<tr>
								<td></td>
								<td></td>
								<td>
									You got <%=pluralize(notification.point_count,'Point')%>
									<span class="third_font_method">read</span>
								</td>
							</tr>
						</table>
					<%else%>
						<%if notification.notification_type == "Friendship"%>
							<table>
								<tr><td></td><td></td>
									<td>
										<span class="second_font_method_alternate"><%=link_to User.find(notification.secondary_user).user_name, portfolio_path(:id=>notification.secondary_user)%></span> is now your fan 
										<span class="third_font_method">read</span>
									</td>
								</tr>
							</table>
						<%else%>
							<%if notification.notification_type == "Rank" %>
								<table>
									<tr><td></td><td></td>
										<td>
											Congratulation!!!! your rank has been upgraded to "<%=Rankdetail.find(notification.notification_type_id).name%>"
											<span class="third_font_method">read</span>
										</td>
									</tr>
								</table> 
							<%else%>
								<% if notification.notification_type == "Winner" %>
									<table>
										<tr><td></td><td></td>
											<td>
												Congratulation!!!! You just won the "<%=(notification.user.winners.last).try(:task).try(:title)%>" task and you have earned a new <span class="primary_link_font--large-bold"><%=link_to "badge",badge_path(:id=>notification.user_id)%><span>&nbsp<span class="third_font_method">read</span>
											</td>
										</tr>
									</table> 
						  	<%else%>	
					   			<% if notification.notification_type == "Message" %>						  		
										<div class="notification_container">		   
									   	<div class="notification_image">
												<%sender = User.find(notification.secondary_user)%>
												<%unless sender.userimage.blank?%>
													<%@winner_user_image = sender.userimage%>
												<%end%>
					   						<div class=""><%if @winner_user_image.blank?%><%=image_tag("Default_smallest.png")%><%else%><%=image_tag(@winner_user_image.image.url(:smallest))%><%end%>
					   						</div>
										  </div>
											<div class="notification_body_message second_font_method_alternate">
										   	<%if sender.usertype == "admin"%>
										   		<span class="font_method_alternative">
										   			<%=sender.user_name%>
										   		</span>
										   	<%else%>
										   		<%= link_to sender.user_name, portfolio_path(:id=>sender.id)%>
										   	<%end%>
										   	<p>
										   		<%=Message.find(notification.notification_type_id).content%> 
										   		<span class="third_font_method">read</span>
										   	</p>
											</div>
										</div>
									<%end%>
					      <%end%>					  
						  <%end%>
						<%end%>
					<%end%>
				</div>
			<%end%>
	</div>
</div>

<%unless @notifications_unread.blank?%>
  <%for notification in @notifications_unread%>
    <%notification.update_attributes(:status=> 1)%>
  <%end%>
<%end%>
