<div class="container">
<div class="middle_cover">
	<div class="middle_cover_header second_font_method_alternate">
		<%=image_tag("notification.png")%><br/>
		<%=link_to "Notifications", notification_path%>
	</div>
	 <%unless @notifications_unread.blank?%>		
			<% for notification in @notifications_unread%>
					 <div class="notification_unit small_bark_font_method">
						  <%if notification.notification_type == "Point"%>
							   <table>
							   		<tr>
									   <td>
		
									   </td>
									   <td>
									   	
									   </td>
									   <td>
									   		You have <%=notification.notification_counter%> new Points
									   </td>
								</tr>
							   </table>
						  <%else%>
						  <% if notification.notification_type == "Rank" %>
						  		<table>
							   		<tr>
									   <td>

									   </td>
									   <td>
									   	
									   </td>
									   <td>
									   		Congratulation!!!! your rank has been upgraded to "<%=Rankdetail.find(notification.notification_type_id).name%>"
									   </td>
								   </tr>
							   </table> 
						  <%else%>
				 		  <% if notification.notification_type == "Winner" %>
						  		<table>
							   		<tr>
									   <td>

									   </td>
									   <td>
									   	
									   </td>
									   <td>
									   		Congratulation!!!! You just won the "<%=(notification.user.winners.last).task.title%>" task and you have earned a new <%=link_to "badge",badge_path(:id=>notification.user_id)%>
									   </td>
								   </tr>
							   </table> 
						  <%else%>	
						   <% if notification.notification_type == "Message" %>						  		
								<div class="notification_container">		   
									   	<div class="notification_image">
											<%sender = User.find(notification.secondary_user)%>
											<%unless sender.userimage.blank?%>
												<%@winner_user_image = fan.userimage%>
											<%end%>
			   							    <div class=""><%if @winner_user_image.blank?%><%=image_tag("Default_smallest.png")%><%else%><%=image_tag(@winner_user_image.image.url(:smallest))%><%end%></div>
									   	</div>
									   	<div class="notification_body_message second_font_method_alternate">
									   		<%= link_to sender.user_name, portfolio_path(:id=>sender.id)%><br/>
									   		<%=Message.find(notification.notification_type_id).content%>
									   	</div>
								</div>
		
						  <%end%>
					      <%end%>					  
						  <%end%>
						  <%end%>
					 </div>
		   <%end%>
	<%end%>
	<%if @notifications_unread.blank?%>			
		   	<% for notification in @notifications%>
					 <div class="notification_unit small_bark_font_method">
						  <%if notification.notification_type == "Point"%>
							   <table>
							   		<tr>
									   <td>
										   	<%if notification.status==1%>
										   	<%=image_tag("tick.png")%>
										   	<%end%>
									   </td>
									   <td>
									   	
									   </td>
									   <td>
									   		You have <%=notification.notification_counter%> new Points
									   </td>
								</tr>
							   </table>
						  <%else%>
						  <%if notification.notification_type == "Rank" %>
						  		<table>
							   		<tr>
									   <td>
										   	<%if notification.status==1%>
										   	<%=image_tag("tick.png")%>
										   	<%end%>
									   </td>
									   <td>
									   	
									   </td>
									   <td>
									   		Congratulation!!!! your rank has been upgraded to "<%=Rankdetail.find(notification.notification_type_id).name%>"
									   </td>
								   </tr>
							   </table>  	
						  <%else%>
						  <% if notification.notification_type == "Winner" %>
						  		<table>
							   		<tr>
									   <td>
											<%if notification.status==1%>
										   	<%=image_tag("tick.png")%>
										   	<%end%>
									   </td>
									   <td>
									   	
									   </td>
									   <td>
									   		Congratulation!!!! You just won the "<%=(notification.user.winners.last).task.title%>" task and you have earned a new <%=link_to "badge",badge_path(:id=>notification.user_id)%> 
									   </td>
								   </tr>
							    </table>  
						 <%else%>
						 
						 <% if notification.notification_type == "Message" %>
						  		
								<div class="notification_container">		   
									    <div class="notification_tick">
									    	<%if notification.status==1%>
										   		 <%=image_tag("tick.png")%>
										   	<%end%>
										</div>
						
									   	<div class="notification_image">
											<%sender = User.find(notification.secondary_user)%>
											<%unless sender.userimage.blank?%>
												<%@winner_user_image = fan.userimage%>
											<%end%>
			   							    <div class=""><%if @winner_user_image.blank?%><%=image_tag("Default_smallest.png")%><%else%><%=image_tag(@winner_user_image.image.url(:smallest))%><%end%></div>
									   	</div>
									   	<div class="notification_body_message second_font_method_alternate">
									   		<%= link_to sender.user_name, portfolio_path(:id=>sender.id)%><br/>
									   		<%=Message.find(notification.notification_type_id).content%>
									   	</div>
								</div>
		
						  <%end%>
					      <%end%>					  
						  <%end%>
						  <%end%>
					 </div>
		   <%end%>
	<%end%>
</div>
</div>
