<div class="facebox_header">
	Season Reward
</div>
<p></p>
<div class=" league_details ">
  <span class="small_bark_font_method"><%=@league.season.description%> </span>
  <p></p>
  <p></p>
  <p></p>
  <table width="90%" >
    <tr align="center" class="bold_grey_font">
      <td>
        <%=1.ordinalize%> position     
      </td>
      <td>
        <%=2.ordinalize%> position    
      </td>
      <td>
        <%=3.ordinalize%> position    
      </td>    
    </tr>
    <tr align="center">
      <td class="league_info_border">
        <span class="light_green_font--small"><%=@league.season.first_place%></span> 
        <p class="light_grey_font">points</p>
      </td>
      <td class="league_info_border">
         <span class="light_green_font--small"><%=@league.season.second_place%></span> 
        <p class="light_grey_font">points</p>  
      </td>
      <td>
         <span class="light_green_font--small"><%=@league.season.third_place%></span> 
        <p class="light_grey_font">points</p>  
      </td>    
    </tr>
    <tr><td></td></tr>
    <tr align="center" class="bold_grey_font">
      <td>
        <%=4.ordinalize%> position     
      </td>
      <td>
        <%=5.ordinalize%> position    
      </td>
      <td>
        Everyone else
      </td>
    </tr>
    <tr align="center">
      <td class="league_info_border">
        <span class="light_green_font--small"><%=@league.season.fourth_place%></span>
        <p class="light_grey_font">points</p> 
      </td>
      <td class="league_info_border">
         <span class="light_green_font--small"><%=@league.season.fifth_place%></span>
        <p class="light_grey_font">points</p>
      </td>
      <td>
         <span class="light_green_font--small"><%=@league.season.other_positions%></span>
        <p class="light_grey_font">points</p>
      </td>
    </tr>
  </table>
</div>
<p></p>
<div class="centralize">
  <%=image_tag("coins-large.png")%>
</div>

<div class="centralize">
  <p></p><p><span class="light_grey_font">use points to purchase items from the</span> <span class="primary_link_font-small"><%= link_to "stagemine store", store_path%></span></p>
</div>