<div class="container">
<div class="middle_cover">
	<div class="middle_cover_header small_bark_font_method second_font_method_alternate">
		<%=image_tag "message_icon.png"%><br/>
		<%=link_to pluralize(@message.count, 'Message'), message_path%>
	</div>
	 <%unless @message.blank?%>		
	 	<%for message in @message%>
			<div class="message_container">		   
				   	<div class="notification_image">
						<%sender = User.find(message.sender_id)%>
						<%unless sender.userimage.blank?%>
							<%@user_image = sender.userimage%>
						<%end%>
					    <div class=""><%if @user_image.blank?%><%=image_tag("Default_smallest.png")%><%else%><%=image_tag(@user_image.image.url(:smallest))%><%end%></div>
				   	</div>
				   	<div class="notification_body_message second_font_method_alternate small_bark_font_method ">
				   		<%if sender.usertype == "admin"%>
								<span class="font_method_alternative">
									<%=sender.user_name%>
									<span class="third_font_method"><%= distance_of_time_in_words_to_now(message.created_at)%> ago</span>
								</span>
					   	<%else%>
					   		<%= link_to sender.user_name, portfolio_path(:id=>sender.id)%>
					   		<span class="third_font_method"><%= distance_of_time_in_words_to_now(message.created_at)%> ago</span>
					   	<%end%>
					   	<p>
				   			<%= message.content%>
				   		</p>
				   	</div>
			</div>
			<%@user_image = nil%>
		<%end%>
	<%end%>
</div>
</div>
