<script>
$(document).ready(function(){ 
  $('a[rel*=block]').block();
});
/*
 * @author       Rob W (http://stackoverflow.com/a/7513356/938089
 * @description  Executes function on a framed YouTube video (see previous link)
 *               For a full list of possible functions, see:
 *               http://code.google.com/apis/youtube/js_api_reference.html
 * @param String frame_id The id of (the div containing) the frame
 * @param String func     Desired function to call, eg. "playVideo"
 * @param Array  args     (optional) List of arguments to pass to function func*/
function callPlayer(frame_id, func, args) {
    if (window.jQuery && frame_id instanceof jQuery) frame_id = frame_id.get(0).id;
    var iframe = document.getElementById(frame_id);
    if (iframe && iframe.tagName.toUpperCase() != 'IFRAME') {
        iframe = iframe.getElementsByTagName('iframe')[0];
    }
    if (iframe) {
        // Frame exists, 
        iframe.contentWindow.postMessage(JSON.stringify({
            "event": "command",
            "func": func,
            "args": args || [],
            "id": frame_id
        }), "*");
    }
}
</script>




<div class="container_large">
<div class="task_menu second_font_method">
	<%=link_to "Enrolled Task",task_path(:id=>"Enrolled Task") %><br/><br/>
	<%for interest in @interest_list do%>
	 <%=link_to interest.interest_name,task_path(:id=>interest.interest_name)%><br/>
	<%end%>
</div>

<div class="task_body">
<div class="task_name_header second_font_method">
	<%=link_to @interest_name,task_path(:id=>@interest_name)%><br/>
</div>
	<%if @params == "Enrolled Task"%>
		<%if @user.enrolled?%>
			<%=render :partial=>"task_table"%>
		<%else%>
			<div class="task_container third_font_method">
					<span style="font-size:20px;">Welcome to Task</span>
					<div>you are currently not enrolled in any task</div><br/><br/><br/>
					<%=image_tag("task_big_icon.png")%><br/><br/>
					Browse for new tasks at the top left menu.
			</div>
		<%end%>
	<%else%>		
		<% if @user_task.blank?%>
			<div class="task_container third_font_method">
				<%=image_tag("task_big_icon.png")%><br/><br/>
				No Task at the moment
			</div>
		
		<%else%>
			<div class="task_body_info">

				<div class="small_bark_font_method">
						<span class="task_title_font"><%=@user_task[0].title%></span><br/><br/>						
						<%=@user_task[0].description%><br/><br/><br/>
						
				 		<span class="task_duration">
				 		Duration <br/><br/>
					 	<%= @user_task[0].start_date.strftime("%B %d, %Y")%>
					 	&nbsp; - &nbsp; 	
					 	<%= @user_task[0].end_date.strftime("%B %d, %Y")%>	
				 		</span>
				 		<div class="enroll_header">
				 		If you are interested in joining this task, click the enroll link below
				 		</div>
				</div>	
				<% if !flash.empty? %><div class="error_message_font_smaller"><%= flash[:notice] %></div><% end %>
     		 	<div class="enroll_link">
     		 		<%=render :partial=>"enroll_change"%>
     		 	</div>
     		 	
     		 	<%unless @user_task[0].video_url.blank?%>
     		 	<br/>
     		 	<span class="small_bark_font_method">Video Description</span><br/><br/>
							   <div id="task_video"><iframe width="535" height="350" frameborder="0" title="YouTube video player" type="text/html" src="http://www.youtube.com/embed/<%=@user_task[0].video_url%>?enablejsapi=1" "></iframe></div>
				<%end%>

			</div>
			
			
		<%end%>
		
	<%end%>
</div>

</div>
