<div class="container_large">
Notes<br/><br/>

1) Create a season first before any task or league<br/><br/>

<% if !flash.empty? %><div class="error_message_font"><%= flash[:notice] %> </div><% end %>
<% unless Preseason.where(status: "active")[0].blank?%>
<%unless ((Preseason.where(status: "active")[0].end_day.to_date - DateTime.now.to_date).to_i) == 0%>
	<br/><%= link_to"Start Season",start_season_path(:id=>Preseason.where(status: "active")[0].id)%> <br/><br/>
<%end%>
<%end%>
<%unless @point_pending.blank?%>
	<br/><%= link_to" Create a new user history",create_history_path%> <br/><br/>
<%else%>
 <%unless Historypending.last.blank? or%>
  	<br/>The last user history was created on <%=Historypending.last.updated_at.strftime("Printed on %m/%d/%Y")%> <br/><br/>
 <%end%>
<%end%>

<div class="facebox_header">
	Create a season
</div>

<%=form_tag(create_season_path) do%>
				season name:<%=text_field_tag(:name)%><br/><br/>
				season incentive:<%=text_field_tag(:incentive)%><br/><br/>
				
				preseason start time: <br/>
				day 
				<select name="pre_start_day">
					<%@counter = 1%>
					<%while @counter < 31%>
					<option value=<%=@counter%>><%=@counter%></option>
					<%@counter = @counter + 1%>
					<%end%>				
				</select>
				<br/>
				month
				<select name="pre_start_month">
					<option value="7">July</option>
					<option value="8">August</option>
					<option value="9">September</option>
					<option value="10">October</option>
					<option value="10">November</option>
				</select>
				<br/>
				year
				<select name="pre_start_year">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
				</select>
				<br/><br/>
				Season start time<br/>
				day
				<select name="start_day">
					<%@counter2 = 1%>
					<%while @counter2 < 31%>
					<option value=<%=@counter2%>><%=@counter2%></option>
					<%@counter2 = @counter2 + 1%>
					<%end%>				
				</select>
				<br/>
				month
				<select name="start_month">
					<option value="7">July</option>
					<option value="8">August</option>
					<option value="9">September</option>
					<option value="10">October</option>
				</select>
				<br/>
			    year
				<select name="start_year">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
				</select>
				<br/>
				<br/>
				season end time<br/>
				day
				<select name="end_day">
					<%@counter3 = 1%>
					<%while @counter3 < 31%>
					<option value=<%=@counter3%>><%=@counter3%></option>
					<%@counter3 = @counter3 + 1%>
					<%end%>				
				</select>
				<br/>
				month
				<select name="end_month">
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				</select>
				<br/>
				year
				<select name="end_year">
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				</select>	
		<br/><br/>
		<div id="form_btn">	
		<%= submit_tag 'Click to Post',:class => 'classname'%>
		</div>
		<br/>
<%end%>

<br/>
<br/>
<div class="facebox_header">
	Create a task
</div>

<%=form_tag(task_path) do%>
				title: <%=text_field_tag(:title)%><br/><br/>
				Task type: 
				<select name="task_type">
					<option value="video">video</option>
					<option value="image">image</option>
				</select><br/><br/>
				
				description: <%=text_area_tag(:description)%><br/><br/>
				video url:<%=text_field_tag(:video_url)%><br/><br/>
				starttime<br/>
				day
				<select name="start_day">
				 <%@counter = 1%>
				 <%while @counter < 32%>
					<option value=<%=@counter%>><%=@counter%></option>
					<%@counter = @counter + 1%>
				 <%end%>
				</select>
				
				month
				<select name="start_month">
					<option value="7">July</option>
					<option value="8">August</option>
					<option value="9">September</option>
					<option value="10">October</option>
				</select>
			    year
				<select name="start_year">
					<option value="2014">2014</option>
					<option value="2015">2015</option>
				</select>
				<br/>
				<br/>

				end time<br/>
				day
				<select name="end_day">
				<%@counter2 = 1%>
				<%while @counter2 < 32%>
					<option value=<%=@counter2%>><%=@counter2%></option>
					<%@counter2 = @counter2 + 1%>
				 <%end%>
				</select>
				
				month
				<select name="end_month">
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				</select>
				
				year
				<select name="end_year">
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				</select>
				<br/>
				<br/>
				
				<select id="custom_select" name="interest_id">
					<option value="0">random</option>
					<%for interest in Interest.all%>
					<option value="<%=interest.id%>"><%=interest.interest_name%></option>
					<%end%>
				</select>
				
				
		<br/><br/>
		<div id="form_btn">	
		<%= submit_tag 'Click to Post',:class => 'classname'%>
		</div>
		<br/>
<%end%>


</div>
