<div class="task_sidebar1 small_bark_font_method">
		<%if @user.tasks.blank?%>
						<%=image_tag("task_sample.png")%><br/>
						No Task			
		<%else%>
		
				<%if @user.tasks.last.status == "inactive" or @user.enrolls.last.status == 0%>
						<%=image_tag("task_sample.png")%><br/>
						Task Ended
    			<%else%>				
					<div class="enrolled_task_display">
								<%@recent_enrolled_task = @user.tasks.last%>								
								<%if ((@recent_enrolled_task.end_date.to_date - DateTime.now.to_date).to_i) < 1%>
									<%=image_tag("task_sample.png")%><br/>
									Task Ended									
								<%else%>
										<div class="task_timer">
										<%@duration=(@recent_enrolled_task.end_date.to_date - DateTime.now.to_date).to_i %>
										<%@position = Task.task_table(12,@user.id)%>
										<%if @position == "blank"%>
										<!--no contest-->
										<%else%>
											<%=@position.ordinalize%>
										<%end%>
										</div>													
										<%if @duration > 1%>			
											<%=@duration%> days remaining for task											
										<%else%>					
											<%=@duration%> day remaining for task											
										<%end%>
								<%end%>	
					</div>					
				<%end%>
		<%end%>
</div>

