	<% @feed_id = feed%>
	<% @post = Word.find(feed.word_id)%>

	<div class="<%="#{feed.id}_feed"%> pin">
	
	    <% unless feed.word.content.blank?%>
		    <div class=" feed_content_v2 small_bark_font_method">
		    	<%=feed.word.content%>
		    </div>
	    <%end%>
		<div class="interest_tag second_font_method small_bark_font_method">				   
			<div class="time_spent third_font_method">
				<%= distance_of_time_in_words_to_now(feed.created_at)%> ago
			</div>
			<%unless feed.word.label.blank?%>
				<%if @link_type == 1%>	
				&nbsp;&nbsp;<%= link_to "##{feed.word.label.interest.interest_name}",portfolio_path(:id=>@user.id,:interest=>feed.word.label.interest.id)%>				    	
				<%else%>
				&nbsp;&nbsp;<%= link_to "##{feed.word.label.interest.interest_name}",stage_path(:id=>feed.word.label.interest.id)%>				    	
				<%end%>
			<%end%>
		</div>
	    
	    <%unless feed.user.userimage.blank?%>
	    	<%@image= feed.user.userimage%>
	    <%end%>
	    
		<div class="radi" style="border:2px solid <%=feed.user.rank.rankdetail.rank_color%>;background: url(<%if @image.blank?%><%=image_path("Default_small.png")%><%else%><%=image_path(@image.image.url(:small))%><%end%>) no-repeat;" ></div>
		
		<%if @link_type == 1 and @portfolio_restriction == "allow"%> <!--This means that the user is currently in the profile page-->
		<div class="<%="#{feed.id}_hover"%> delete_link">
			<%=link_to "Delete", delete_feed_path(:id=>feed.id, :type=>"w")%>
		</div>
		<%end%>
		<script>
		$(document).ready(function(){
		    $(".<%="#{feed.id}_hover"%>").hide();
		$(".<%="#{feed.id}_feed"%>").hover(function(){
		  $(".<%="#{feed.id}_hover"%>").show();
		  },function(){
		  $(".<%="#{feed.id}_hover"%>").hide();
			});
		})
		</script> 
		<div class="user_name second_font_method_alternate third_font_method">
			<%=link_to feed.user.user_name, portfolio_path(:id=>feed.user.id)%>
			<div class="third_font_method">
			<%=feed.user.rank.rankdetail.name%>
			</div>
		</div>
		
		<div class="feed_icons"> 
			<%unless feed.user_id == current_user.id%>   
				<%=render :partial=>"point_allocation/cheers_added"%> 
			<%end%>
		</div>
		
			   
		<div class="feed_comment">	
		  <%=render :partial=>"comment/add_comment", :locals=>{:feed=>feed}%> 
	    </div>			
	</div>
	<script>
		$(document).ready(function(){
			$(".<%="#{feed.id}_feed"%>").hover(function(){
				$(this).css({
					"box-shadow": "0 0 2px #888888"
				});
			  },function(){
			  	$(this).css({
				  "box-shadow": "none"
				});
			});
		})
	</script> 

