<div class="sidebar--left">
  <%=render :partial=>"season_sidebar"%>
</div>
<div class="sidebar--right">
  <%= render :partial=>"left_sidebar"%>
</div>
<div class="container"> 
  <% if !flash.empty? %><div class="error_message_font"><%= flash[:notice] %> </div><% end %>
  <%= link_to(badge_path(:id=>@user.id)) do %>    
    <div class="notification_response_bar">
      <%=image_tag("badge.png")%>
      <p>
        View Your Awards
      </p>
    </div>
  <%end%>
  <div class="container__top">
    <div class="container__top--left">
      <div class="container__top--left-user-name">  
        <span class="primary_link_font--large-bold"><%=link_to current_user.user_name, portfolio_path(:id=>current_user.id)%></span>
        <div class="menu_nav primary_link_font">
          <table border="0" width="100%">
            <tr>
              <td width="4%">
                <%=link_to "Fans",see_all_friendship_path(:id=>@user.id,:type=>"fan")%>               
              </td>
              <td  width="4%">
                <%=link_to "Fanned",see_all_friendship_path(:id=>@user.id,:type=>"fanned")%>                    
              </td>
              <td  width="4%">
                <%=link_to "Post",portfolio_path(:id=>@user.id) %>                  
              </td>
            </tr>
            <tr style="font-size:1.0em; font-weight:bold;">
              <td>
                <%=@fan.count%>
              </td>
              <td>
                 <%=@user_performer.count%>
              </td>
              <td>
                 <%=@user.words.count + @user.videos.count + @user.pictures.count%>
              </td>
            </tr>
          </table>                
        </div>
      </div>
      <%if User.has_an_image?(current_user.id)%>
        <%@season_user = @user.userimage%>
        <%=image_tag @season_user.image.url(:moderate)%>
      <%else%>
        <%=image_tag("Default_moderate.png")%>
      <%end%>
    </div>
    <div class="container__top--right">
      <div class="user_point_icon">
        <%=image_tag("coins.png")%>
      </div>
      <div class="user_point">      
        <span class="light_green_font">
          <%if @user.points.blank?%>
            0
          <%else%>
            <%=@user.points.inject(0){|sum,e| sum += e.point}%>
          <%end%>
        </span>
        <span class="user_point__label small_bold_text">
          Points
        </span>
      </div>
    </div>
  </div>
  <div class="container_bottom">
    <div class="container--post_content primary_link_font--small-bold">
      <div class="post_content--video">
        <%= link_to "Add a video",create_vid_path, :rel=>"block"%> 
      </div>
      <div class="post_content--image">
        <%= link_to "Share an image",pictures_path, :rel=>"block"%>
      </div>
      <div class="post_content--text">
        <%= link_to "Share an idea",create_word_path, :rel=>"block"%>
      </div>
    </div>

    <div class="container--menu primary_link_font--small-bold">     
      <div class="container--menu__large_screen">
        <div class="menu--rank_info">    
          <div class="menu--icon">
            <%=image_tag("store.png")%>
          </div>
          <div class="menu_label">
            <%= link_to "Stagemine store",store_path%> 
          </div>
        </div>
        <div class="menu--change_interest">
          <div class="menu--interest-icon">
            <%=image_tag("interest_mid.png")%>
          </div>
          <%= link_to "Change Interest",add_interest_path%>
        </div>
        <div class="menu--message">
          <%=link_to image_tag("message_icon.png"),message_path%>
        </div>
      </div>
      <div class="container--menu__smaller_screen">
        <%if Season.all.blank? or @interest_season.blank? or @interest_season.interest_name == "Random"%>
          <div class="menu--rank_info">    
            <div class="menu--icon">
              <%=image_tag("store.png")%>
            </div>
            <div class="menu_label">
              <%= link_to "Stagemine store",store_path%> 
            </div>
          </div>
          <div class="menu--change_interest">
            <div class="menu--interest-icon">
              <%=image_tag("interest_mid.png")%>
            </div>
            <%= link_to "Change Interest",add_interest_path%>
          </div>
          <div class="menu--message">
            <%=link_to image_tag("message_icon.png"),message_path%>
          </div>
        <%else%>
          <div class="season_notification primary_link_font--small-bold">               
            <%=link_to "Check out the #{@interest_season.interest_name} League", see_all_path(:id=>@interest_season.id)%>            
          </div>
          <div class="responsive_menu">
            <div class="top_container_drop_down">
              <ul class="top_container_drop_down_list">
                <li>
                  <span class="top_container_clicker">
                  <%=image_tag("drop.png")%>        
                  </span>
                  <ul>
                    <li><%= link_to "Stagemine store",store_path%></li>
                    <li><%=link_to "Messages",message_path%></li>
                    <li><%= link_to "Change Interest",add_interest_path%></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <%=render :partial=>"interest_selection"%>
  <div id="columns">
    <script>
      jQuery(document).ready(function($) {
        $('a[rel*=facebox]').live("mousedown", function() { 
          $(this).unbind('click'); //everytime you click unbind the past event handled.
          $(this).facebox();
      });
      $('a[rel*=imagepop]').live("mousedown", function() { 
          $(this).unbind('click'); //everytime you click unbind the past event handled.
          $(this).imagepop();
      });
      });
    </script> 
    <%= render :partial=>"stage_feed"%>
  </div>
  <%if @feed.blank?%>
    <div class="feed_icon">
      <%=image_tag("feed.png")%><br/>
      No feed
    </div>
  <%end%>
</div>