<script>
/*
 * @author       Rob W (http://stackoverflow.com/a/7513356/938089
 * @description  Executes function on a framed YouTube video (see previous link)
 *               For a full list of possible functions, see:
 *               http://code.google.com/apis/youtube/js_api_reference.html
 * @param String frame_id The id of (the div containing) the frame
 * @param String func     Desired function to call, eg. "playVideo"
 * @param Array  args     (optional) List of arguments to pass to function func*/
function callPlayer(frame_id, func, args) {
    if (window.jQuery && frame_id instanceof jQuery) frame_id = frame_id.get(0).id;
    var iframe = document.getElementById(frame_id);
    if (iframe && iframe.tagName.toUpperCase() != 'IFRAME') {
        iframe = iframe.getElementsByTagName('iframe')[0];
    }
    if (iframe) {
        // Frame exists, 
        iframe.contentWindow.postMessage(JSON.stringify({
            "event": "command",
            "func": func,
            "args": args || [],
            "id": frame_id
        }), "*");
    }
}
</script>

<div id="yid"><iframe width="640" height="390" frameborder="0" title="YouTube video player" type="text/html" src="http://www.youtube.com/embed/<%=@vid_id.vid%>?enablejsapi=1" "></iframe></div>
<div class="image_facebox_content small_bark_font_method">
	<% unless @vid_id.feed.blank?%>
	<%=@vid_id.feed.video.description%>
	<br/>
	<%end%>
   
    <%unless @user.userimage.blank?%>
	    <%@image= @user.userimage%>
	    <%end%>
		<div class="radi" style="border:3px solid <%=@user.rank.rankdetail.rank_color%>;background: url(<%if @image.blank?%><%=image_path("Default_small.png")%><%else%><%=image_path(@image.image.url(:small))%><%end%>) no-repeat;" ></div>
		
		<div class="user_name second_font_method third_font_method">
			<%=link_to @user.user_name, portfolio_path(:id=>@user.id)%>
			<div class="rank_name">
			<%=@user.rank.rankdetail.name%>
			</div>
		</div>

	<div class="feed_icons"> 
		<%@post = @vid_id%>
		<%@feed_id = @vid_id.feed%>
		<%=render :partial=>"point_allocation/cheers_added"%> 
	</div>



