<div class="welcome_header">
	 <div class="welcome_mid_header"> 
	 		<div class="stagemine_welcome">
	 					<%=image_tag("stagemine_welcome.png")%>	 				    
	 		</div>
	 		<table>
	 			<tr>
	 				<td>
			 			<%=image_tag("welcome_stage_logo.png")%>	
			 		 				    
	 				</td>
	 			</tr>
		 	</table>		 	
	 </div >
</div>

<div class="welcome_container">
	<div class="welcome_top_box">
		<div class="welcome_top_left_box">
			<div class="welcome_text">Build a Reputation</div>
			<div class="welcome_text">on a Global Stage</div><br/>
			<%= link_to(users_path) do %>	
			<div class="register_link">Sign up</div>
			<%end%>
				
			<div class="second_font_method"><%=link_to "Learn more"%></div>
		</div>
		<div class="welcome_top_right_box">
			<%if !flash.empty? %><div class="error_container"><%= flash[:notice] %></div><%end%>
			<%=form_tag session_path do %>	
			        <table width=70%, align=center >
						<tr>
						    <td><label>Username:</lable><br/><%=text_field_tag(:user_name,nil,:class=>"logininput")%></td>
						</tr>
						<tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
						<tr>
							<td><label>Password:</lable><br/><%= password_field_tag :password,nil,:class =>"logininput"%></td>
						</tr>
			        </table>
			        <div class="login_button">
					<%=submit_tag "Log In",:class => 'submit_class'%>
					</div>
	<%end%>
		</div>

	</div>
	<div class="welcome_mid_box">
		&bull;<br/>
		<div class="interest_filter">
			<span style="font-size: 12px;">Welcome</span>
		</div><br/>
		&bull;<br/>
	</div>	

	<div class="welcome_box_container">			
		<div class="welcome_box_one">
			<div class="block1"><%=image_tag("welcome_star.png")%><br/><br/>Be Recognized<br/><br/><div class="small_white">Become an internet superstar. Get The attention of a wider audience and potential talent recruiters.<br/></div>
			</div>
			
			<div class="block2"><%=image_tag("learn.png")%><br/><br/>Learn<br/><br/><div class="small_white">Learn from others and be better at your craft. Connect with similar talents and share ideas.</div><br/><br/></div>
			<div class="block3"><%=image_tag("great.png")%><br/><br/>Be Great<br/><br/><div class="small_white">Get on the StageMine hall of fame. Compete with others and build a reputation.</div><br/><br/></div>
		</div>		
	</div>	
	
</div>



