<div class="welcome_header">
	 <div class="welcome_mid_header"> 
	 		<div class="stagemine_welcome">
	 					<%=image_tag("stagemine_welcome.png")%>	 				    
	 		</div>
	 		<table>
	 			<tr>
	 				<td>
			 			<%=image_tag("welcome_stage_logo.png")%>	
			 		 				    
	 				</td>
	 			</tr>
		 	</table>		 	
	 </div >
</div>

<div class="welcome_container">
	
	<div class="welcome_top_box">
		<div class="welcome_top_left_box">
			<div class="welcome_text">Build a Reputation</div>
			<div class="welcome_text">on a Global Stage</div><br/>
			<div class="second_font_method"><%=link_to "Learn more"%></div>
		</div>
		<div class="welcome_top_right_box">
		</div>

	</div>

	<div class="welcome_box_container">			
		<div class="welcome_box_one">
			<%=image_tag("Join-us.png")%>
		</div>	
		<div class="welcome_box_two">
			<%=image_tag("login_icon.png")%>
		</div>
		<div class="welcome_box_three">
			<div class="welcome_vid_click"> <div class='arrow-right'></div> </div>
		</div>
		<div class="welcome_box_bottom">
				<div class="welcome_box_one_label third_font_method">
					Register for free
				</div>
				<div class="welcome_box_two_label third_font_method">
					Sign in
				</div>
				<div class="welcome_box_three_label third_font_method">
					Learn More!!
				</div>
		</div>
	</div>	
	
</div>



