<!DOCTYPE html>
<html>
<head>
  <title>Giga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless current_user.blank?%>
	<div class="header"> 
		<div class="stagemine_name">
		<%= link_to image_tag("stagemine.png"), stage_path%>
		</div>
		 <div class="mid_header"> 
		 	    
			 	<div class="header_icon">
			 		
			 		<%unless current_user.notifications.where("status=?",0).blank?%>
			 		<div class="notification_top_icon"><%=current_user.notifications.where("status=?",0).count%></div>
					<%end%>
					<% unless current_user.blank?%>
						<%unless current_user.userimage.blank?%>
						<%@userimage = current_user.userimage%>
						<%end%>
				 		<div class="header_user_detail">							
							<%= link_to "Stage",stage_path%>  &nbsp; | &nbsp; <%= link_to "Portfolio",portfolio_path(:id=>current_user.id)%>					 	
			 	       </div>
			 	    <%end%>
			 	</div> 
			 	
			 	<div class="search_bar">					
					<%unless current_user.usertype=="admin"%>
						<div class="radi_header" style="border:2px solid <%=current_user.rank.rankdetail.rank_color%>;background: url(<%if  @userimage.blank?%><%=image_path("Default_tiny.png")%><%else%><%=image_path( @userimage.image.url(:tiny))%><%end%>) no-repeat;" ></div>
					<%end%>
					<div class="header_user_name"><%= link_to current_user.user_name, portfolio_path(:id=>current_user.id)%></div>
			    </div>
			    
			    <div class="brand_icon">
			    	<div class="search_bar_sample">
			    		
			    	</div>
				<%=image_tag("rsz_stagemie1.png")%>
			    </div>
		 </div >
		 <!-- end .header -->
	</div>
<%end%>
	<%= yield %>

	<script>
	 $(document).ready(function(){  
	  if($(window).width() < 1035)
	  { 
		$('.notification_top_icon').show();
		$('.stagemine_name').hide();
		
	  }
	  else if($(window).width() > 1035)
	  { 
		$('.notification_top_icon').hide();
		$('.stagemine_name').show();
	
	
	  }
	  
	$(window).resize(function() {
	  // This will execute whenever the window is resized
	 
	  if($(window).width() < 1035)
	  { 
	    $('.notification_top_icon').show();
	    $('.stagemine_name').hide();
	  }
	  else if($(window).width() > 1035)
	  { 
		$('.notification_top_icon').hide();
		$('.stagemine_name').show();
	  }
	
	});
	});
	</script>
</body>
</html>
