<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="/assets/stagemine_logo.ico">
    <title>Welcome to StageMine</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>   
  	<%= javascript_include_tag 'turbolinks'%>
  	<%= javascript_include_tag 'block'%>
  	<%= javascript_include_tag 'facebox'%>
  	<%= javascript_include_tag 'imagepop'%>
  	<%= javascript_include_tag 'jquery-ui.min'%>
  	<%= javascript_include_tag 'jquery.ddslick.min'%>
  	<%= javascript_include_tag 'rails'%>
  	<%= javascript_include_tag 'search'%> 
    <%= csrf_meta_tags %>    
	  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<style type="text/css">
	body {
		  font-family: 'Oxygen', sans-serif;
		  margin: 0;
		  padding: 0;
		  color: #000;
		  height:100%;
		  background:white url(<%=image_path("background.jpg")%>);	
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; 
      background-size: cover; 

      } 
	</style>
</head>
<body>
<%= yield %>
</body>
